
<h1>$word.getWord()</h1>

<ul>
#foreach($definition in $definitions)
 <li>$definition.getInputDef()</li>
 #end
</ul>

<br>
<a href="/words/$word.getId()/new-word-def-form">Add A Definition</a>
<a href="/words">View All Words</a>
